package components

type Url struct {
	ShortURL string
	LongURL  string
}

templ UrlList(urls []Url) {
	<div id="url_list" x-merge="prepend" x-auto-animate class="space-y-4">
		for _,url := range urls {
			@UrlItem(url)
		}
	</div>
}
