package pages

templ Home() {
	<div class="flex flex-col items-center gap-4">
		<h1 class="text-5xl text-center">URL Shortener Website <br/> Free and Open Source</h1>
		<a href="https://github.com/login/oauth/authorize?client_id=Ov23liPnqjjshUGcpa1b&redirect_uri=http://localhost:7070/auth/github/callback" class="underline">Sign in with github</a>
	</div>
}
