package pages

templ Home() {
	<div>
		<h1 class="text-2xl text-red-800">Home Page</h1>
		<a href="https://github.com/login/oauth/authorize?client_id=Ov23liPnqjjshUGcpa1b?redirect_uri=http://localhost:7070/auth/github/callback">Sign in with github</a>
	</div>
}
